<div class="container">
<div id="contenu-pdf">
    <body>
  <mat-card>
    <mat-card-content>
      <h1>EXPEDITEUR</h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="expéditeur">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          {{ user.attributes.shipperName | uppercase }}
          {{ user.attributes.shipperSurname | uppercase }}
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>Expéditeur : {{ user.attributes.shipperAddress | uppercase }}</p>
      <p>Expéditeur :{{ user.attributes.shipperPhone }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h1>DESTINATAIRE</h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="destinataire">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          {{ user.attributes.recipientName | uppercase }}
          {{ user.attributes.recipientSurname | uppercase }}
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>Destinataire : {{ user.attributes.recipientAddress | uppercase }}</p>
      <p>Destinataire :{{ user.attributes.shipperPhone }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="colis">
    <mat-card-content>
      <h1>COLIS : {{ user.attributes.packageQuantity }}</h1>
    </mat-card-content>
  </mat-card>
  <div class="imageCard" *ngFor="let picture of user.attributes.pictures.data">
    <img
      class="images"
      (click)="openPicture()"
      [src]="picture.attributes.url"
     />
    </div>

  <button mat-raised-button (click)="generatePdf()"  color="primary">download</button>
    </body>
</div>

</div>

