<div class="container">
  <mat-card>
    <mat-card-content>
      <h1>DESTINATAIRE</h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          {{ user.attributes.shipperName | uppercase }}
          {{ user.attributes.shipperSurname | uppercase }}
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>Adresse : {{ user.attributes.shipperAddress | uppercase }}</p>
      <p>Téléphone :{{ user.attributes.shipperPhone }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h1>EXPEDITEUR</h1>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          {{ user.attributes.recipientName | uppercase }}
          {{ user.attributes.recipientSurname | uppercase }}
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>Adresse : {{ user.attributes.recipientAddress | uppercase }}</p>
      <p>Téléphone :{{ user.attributes.recipientPhone }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="colis">
    <mat-card-content>
      <h1>Colis : {{ user.attributes.packageQuantity }}</h1>
    </mat-card-content>
  </mat-card>
  <div class="imageCard" *ngFor="let picture of user.attributes.pictures">
    <img
      class="images"
      [src]="picture.attributes.url"
    />
  </div>

  <button mat-raised-button (click)="makePDF(user)" color="primary">
    Bordereau de livraison
  </button>
</div>
