<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sign Me</span>
  <span class="example-spacer"></span>

  <a routerLink="/formulaire" routerLinkActive="active" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person_add</mat-icon>
    </button>
  </a>
  <a routerLink="/clients" routerLinkActive="active" >
    <button mat-icon-button class="example-icon favorite-icon" aria-label="">
      <mat-icon>people</mat-icon>
    </button>
  </a>

</mat-toolbar>
