<div *ngIf="selectedForm; then expedition; else formValidation"></div>

<ng-template #formValidation>
  <div class="options">
    <h2>En quoi on peut vous aider ?</h2>
    <mat-hint>
      <iframe src="https://embed.lottiefiles.com/animation/76251"></iframe>
    </mat-hint>
    <mat-form-field appearance="fill">
      <mat-label class="label">Choisir</mat-label>
      <mat-select [formControl]="choiceControl" required>
        <mat-option
          id="choice1"
          *ngFor="let choice of Choices"
          [value]="choice"
        >
          {{ choice.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="choiceControl.hasError('required')">
        Veuillez choisir
      </mat-error>
      <mat-hint></mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="submit()" color="accent">Envoyer</button>
  </div>
</ng-template>

<ng-template #expedition>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1>Formulaire d'enrégistrement</h1>
      <div class="col">
        <h2 class="expediteur">EXPEDITEUR</h2>
        <label for="nom">Nom</label>
        <input
          formControlName="shipperName"
          type="text"
          class="form-control"
          h
          id="nom"
          placeholder="Nom"
        />
      </div>
      <div class="form-row">
        <div class="col">
          <label for="prenom">Prenoms</label>
          <input
            formControlName="shipperSurname"
            type="text"
            id="prenom"
            class="form-control"
            placeholder="Prenoms"
          />
        </div>
        <div class="form-group">
          <label for="shipperAddress">Adresse</label>
          <input
            formControlName="shipperAddress"
            type="text"
            class="form-control"
            id="shipperAddress"
            placeholder="expediteur"
          />
          <label for="shipperPhone">Téléphone</label>
          <input
            formControlName="shipperPhone"
            type="number"
            value=""
            class="form-control"
            id="shipperPhone"
          />
        </div>

        <div class="col">
          <h2 class="expediteur">DESTINATAIRE</h2>
          <label for="nom">Nom</label>
          <input
            formControlName="recipientName"
            type="text"
            class="form-control"
            id="recipientName"
            placeholder="Nom"
          />
        </div>
        <div class="form-row">
          <div class="col">
            <label for="prenom">Prenoms</label>
            <input
              formControlName="recipientSurname"
              type="text"
              id="recipientSurname"
              class="form-control"
              placeholder="Prenoms"
            />
          </div>
          <div class="form-group">
            <label for="recipientAddress">Adresse</label>
            <input
              formControlName="recipientAddress"
              type="text"
              class="form-control"
              id="recipientAddress"
              placeholder="destinataire"
            />
            <label for="recipientPhone">Téléphone</label>
            <input
              formControlName="recipientPhone"
              type="number"
              value=""
              class="form-control"
              id="recipientPhone"
            />
          </div>
          <div class="form-row">
            <div class="col">
              <label for="Destination">Destination</label>
              <input
                formControlName="destination"
                type="text"
                id="destination"
                class="form-control"
                placeholder="Pays de destination"
              />
            </div>
          </div>

          <div class="col">
            <h2 class="destinataire">Mes colis</h2>

            <div class="col">
              <label for="coli">Descriptif colis</label>
              <textarea
                formControlName="description"
                class="form-control"
                id="coli"
                placeholder="Quelles sont les colis que vous avez amenez ?"
                rows="4"
              ></textarea>
              <div class="col">
                <label for="nombreColi">Nombre de colis</label>
                <input
                  formControlName="packageQuantity"
                  type="number"
                  id="nombreColi"
                  class="form-control"
                  placeholder="Vous avez combien de colis ?"
                  [value]=""
                />
              </div>
              <label for="image">Ajouter une photo</label>

              <input
                class="form-control form-control-sm"
                id="image"
                type="file"
                formControlName="pictures"
                accept="image/*"
                multiple
                (change)="onFileSelected($event)"
              />
              <br />

              <div class="image">
                <input
                  id="images"
                  type="image"
                  accept="image/*"
                  ngModel
                  name="pictures"
                  *ngFor="let url of urls"
                  [src]="url"
                />
              </div>
            </div>
          </div>
          <div class="submit">
            <button (click)="success()" class="btn btn-primary">
              Soumettre
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #livraison>
  work !!!
</ng-template>
