<div class="container">
  <div class="options">
    <h2>En quoi on peut vous aider ?</h2>
    <mat-hint>
      <a href="https://www.aaron-travel.com/">
      <img  class="logo" src="/assets/images/logo%20aarontravel.png" alt="">
      </a>
    </mat-hint>
    <mat-form-field appearance="fill">
      <mat-label class="label">Choisir</mat-label>
      <mat-select [formControl]="choiceControl" required>
        <mat-option
          id="choice1"
          *ngFor="let choice of Choices"
          [value]="choice"
        >
          {{ choice.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="choiceControl.hasError('required')">
        Veuillez choisir
      </mat-error>
      <mat-hint></mat-hint>
    </mat-form-field>
    <button mat-raised-button (click)="submit()" color="accent">Envoyer</button>
  </div>
</div>




