
.container{
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.badge{
  background-color: #212121;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 20px ;
  margin-bottom: 10px;
}
.image{
  display: flex;
  flex-wrap: wrap;
}
#imageDiv{
  width: 150px;
  height: 150px;
  margin: 10px;
}
label{
  margin-top: 10px;
}


mat-label{
  color: black
}
.logo{
  width: 250px;
  height: 250px;
  margin: 20px;
  border-radius: 10px;
}
.submit{
  display: flex;
  justify-content: center;
}
.submit button{
  margin: 20px;

}

.radioDescriptionMargin{
  padding-top: 10px;
}
.radioDescriptionSection {
  background-color: black;
  margin-top: 10px ;
  margin-bottom: 10px ;
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 20px;
  padding: 10px;

}
.radioDescriptionSection span{
  margin: 10px;
}
.radioDescriptionSection mat-slide-toggle{
  margin: 10px;
}
.slide{
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardBoard input{
  margin: 10px;
}

